<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titanic Survival Prediction</title>
    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1><i class="fa-solid fa-ship"></i>
    Titanic Survival Predictor</h1>

    <form action="/predict" method="POST">

        <label>Pclass</label>
        <select name="Pclass">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>

        <label>Sex</label>
        <select name="Sex">
            <option value="male">male</option>
            <option value="female">female</option>
        </select>

        <label>Age</label>
        <input type="number" step="any" name="Age" required>

        <label>SibSp</label>
        <input type="number" name="SibSp" required>

        <label>Parch</label>
        <input type="number" name="Parch" required>

        <label>Fare</label>
        <input type="number" step="any" name="Fare" required>

        <label>Embarked</label>
        <select name="Embarked">
            <option value="S">S</option>
            <option value="C">C</option>
            <option value="Q">Q</option>
        </select>

        <button type="submit">Predict</button>

    </form>

</div>

</body>
</html>